.col-inbox{
	background-color: #eee;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 51px;
	margin-bottom: 2px;
}
.col-inbox:hover, .col-inbox:focus{
	background-color: #DBDBDB;
}
.col-inbox img{
	float: left;
	margin-right: 10px;
}
.col-inbox span{
	float: left;
	margin: 0px!important;
	padding: 0px!important;
	display: block!important;
	line-height: 14px;
}
.col-inbox span b{
	display: block!important;
	margin: 0px;
}
.col-inbox a{
	float: right;
	color: #666!important;
	margin-top: 8px;
}
.col-inbox a span{
	font-size: 16px!important;
}
.read-message{
	background-color: #fff;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 2000;
	display: none;
}
.read-message .lead{
	font-size: 17px!important;
	color: #006A99!important;
	margin: 10px!important;
	margin-bottom: 0px!important;
	margin-top: 55px!important;
}
.read-message .text-message{
	overflow: auto!important;
	display: text;
	-moz-user-select: text!important;
	-khtml-user-select: text!important;
	-webkit-user-select: text!important;
	user-select: text!important;
	margin: 10px!important;
	max-height: 400px!important;
}
.read-message .menu{
	background-color: #006A99;
	height: 50px;
	display: block;
	z-index: 1500;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 2500;
}
.read-message .menu a{
	color: #E1F7FF!important;
	padding: 5px;
	display: block;
	margin-top: 8px;
	background-color: #005579!important;
	margin-left: 5px;
	margin-right: 5px;
}