.col-inbox{
	background-color: #eee;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 51px;
	margin-bottom: 2px;
}
.col-inbox:hover, .col-inbox:focus{
	background-color: #DBDBDB;
}
.col-inbox img{
	float: left;
	margin-right: 10px;
	width: 40px;
	height: 30px;
	background-color: #006A99!important;
}
.col-inbox span{
	float: left;
	margin: 0px!important;
	padding: 0px!important;
	display: block!important;
	line-height: 14px;
}
.col-inbox span b{
	display: block!important;
	margin: 0px;
}
.col-inbox a{
	float: right;
	color: #666!important;
	margin-top: 8px;
}
.col-inbox a span{
	font-size: 16px!important;
}