.menu{
	background-color: #006A99;
	height: 50px;
	display: block;
	z-index: 1500;
}
.menu a{
	color: #E1F7FF!important;
	padding: 5px;
	display: block;
	margin-top: 8px;
	background-color: #005579!important;
	margin-left: 5px;
	margin-right: 5px;
}
.read-message{
	background-color: #fff;
	display: block;
}
.read-message .lead{
	font-size: 23px!important;
	color: #006A99!important;
	margin: 10px!important;
	margin-bottom: 0px!important;
	margin-top: 60px!important;
}
.read-message .text-message{
	display: text;
	-moz-user-select: text!important;
	-khtml-user-select: text!important;
	-webkit-user-select: text!important;
	user-select: text!important;
	margin: 10px!important;
}
.read-message .remetente, .read-message .data{
	margin-left: 10px!important;
	display: block;
	line-height: 13px;
}